<div id="<%= dom_id restaurant %>">
  <h1 class="m-5">
    <strong><%= restaurant.name.capitalize %></strong>
  </h1>

  <p class="m-4">
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

  <p class="m-4">
    <strong>Phone Number:</strong>
    <%= restaurant.phone_number %>
  </p>

  <p class="m-4">
    <strong>Category:</strong>
    <%= restaurant.category.capitalize %>
  </p>
</div>
